/* styles.css */

/* BASE */

/* Nav Bar */
.topnav {
  position: relative;
  background-color: #DCA1A1;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #FDFAF6;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Lucida Grande";
  font-size: 20px;
}
.topnav a:hover {
  background-color: #98A869;
  color: #FDFAF6;
}

.icons a {
    float: right;
}
.icons img {
    width:20px;
    height: 20px;
    vertical-align: middle;
}


.topnav a.active {
  background-color: #DCA1A1;
  color: #FDFAF6;
}


/* Header */
h1 {
    font-family: "Lucida Grande";
    text-align: center;
    color: #DCA1A1;
}

/* Body */
body {                
    background-color: #FFE1DC;
}


/* Home */

/* Paragraphs */
p.intro {
    display: block;
    font-family: "Lucida Sans Unicode";
    margin-left: 0px;
    text-align: center;
}


/* Images */
img.logo {
    width: 125px;
    border-radius: 62.5px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #DCA1A1;
}
.top_gallery {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
/* .top_gallery img {
    width: 250px;            
    height: 250px;
    border-radius: 8px; 
} */
img.zaanse_schans{
    width: 325px;
    height: 250px;
    /* margin-left: 130px; */
}
img.ponto_final{
    width: 250px;
    height: 250px;
}
img.romance_book{
    width: 200px;
    height: 250px;
}
img.mallorca_tram{
    width: 200px;
    height: 250px;
}
img.nara{
    width: 250px;
    height: 250px;
}




/* ABOUT ME */

/* text */
p.about_me{
    display: block;
    font-family: "Lucida Sans Unicode";
    margin-left: 250px;
    margin-right: 250px;
    text-align: left;
}
span.countries{
    display:block;
    font-family: "Lucida Grande";
    text-align: left;
}
h3.about_me{
    display:block;
    font-family: "Lucida Grande";
    text-align: left;
    margin-left: 250px;
    margin-right: 250px;
    color: #DCA1A1;
}

.accordion_text p {
    text-align: center;
}

/* images */
img.headshot{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}

/* accordion */
.accordion {
    font-family: "Lucida Grande";
    color: #FFE1DC;
    font-weight: bold;
    font-size: 20px;
    text-align: left;

    background-color: #DCA1A1;
    cursor: pointer;
    padding: 18px;
    width: 100%;

    border: none;
    outline: 2px solid #FFE1DC;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #DEA193;
}
.panel {
    font-family: "Lucida Sans Unicode";
    color: #FFE1DC;
    font-size: 16px;


    padding: 0 18px;
    background-color: #DCA1A1;
    display: none;
    overflow: hidden;
}