/* styles.css */


/* BASE */


body {                
    background-color: #FFFFFF;
}

/* Headers */
h1 {
    font-family: "Kapakana", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #05472A;
    font-size: 5rem;

    margin-top: 1%;
}

h2 {
    font-family: "Oswald", "sans-serif";
    font-weight: lighter;
    font-size: 3.5rem;
    color: #DCA1A1;

    margin-left: 10%;
}

/* Paragraphs */
p {
    display: block;
    font-family: lato;
    margin-left: 10%;
    text-align: left;
}

span.emphasis_words {
    font-family: "Kapakana", cursive;
    font-size: 5rem;
}

/* Nav Bar */
.topnav {
  position: relative;
  background-color: #05472A;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
  font-family: "Oswald", "sans-serif";
  font-size: 1.5rem;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.topnav a:hover {
  background-color: #097343;
  color: #FDFAF6;
}
.icons a {
    float: right;
}
.icons img {
    width:20px;
    height: 20px;
    vertical-align: middle;
}
.topnav a.active {
  background-color: #05472A;
  color: #FFFFFF;
}


/* HOMEPAGE */

/* Images */
img.logo {
    width: 125px;
    border-radius: 62.5px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 2px solid #DCA1A1;
}
.top_gallery {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
/* .top_gallery img {
    width: 250px;            
    height: 250px;
    border-radius: 8px; 
} */
img.quinta{
    width: 250px;
    height: 250px;
    /* margin-left: 130px; */
}
img.ponto_final{
    width: 250px;
    height: 250px;
}
img.romance_book{
    width: 200px;
    height: 250px;
}
img.mallorca_tram{
    width: 200px;
    height: 250px;
}
img.nara{
    width: 250px;
    height: 250px;
}

/* color bar */
.colour_bar {
    background-color: #088C59;
    overflow: hidden;
    padding: 3%;
    text-align: center;
}
.colour_bar p {
    font-family: "Oswald", "sans-serif";
    font-size: 3.5rem;
    font-weight: lighter;
    margin: 0%;
    color: #FFFFFF;
    text-align: center;
}


/* ABOUT ME */

/* text */
p.about_me{
    display: block;
    margin-left: 250px;
    margin-right: 250px;
    text-align: left;
}
span.countries{
    display:block;
    font-family: "Lucida Grande";
    text-align: left;
}
h3.about_me{
    display:block;
    font-family: "Lucida Grande";
    text-align: left;
    margin-left: 250px;
    margin-right: 250px;
    color: #DCA1A1;
}


/* images */
img.headshot{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}

/* accordion */
.accordion {
    font-family: "Lucida Grande";
    color: #FFE1DC;
    font-size: 20px;
    text-align: left;

    background-color: #DCA1A1;
    cursor: pointer;
    padding: 18px;
    width: 100%;

    border: none;
    outline: 2px solid #FFE1DC;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #DEA193;
}
.panel {
    font-family: "Lucida Sans Unicode";
    color: #FFE1DC;
    font-size: 16px;


    padding: 0 18px;
    background-color: #DCA1A1;
    display: none;
    overflow: hidden;
}
.countries_font {
    font-family: "Lucida Grande";
    font-size: 20px;
}